@page
@model WebApp.Pages.Tests.CreateModel
@{
	ViewData["Title"] = "Create";
}
@Html.AntiForgeryToken()
<h1>Create</h1>
<h4>Test</h4>
<hr />
<div class="row">
	<div class="col-md-6">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="CreateTestDTO.Name" class="control-label"></label>
				<input asp-for="CreateTestDTO.Name" class="form-control" />
				<span asp-validation-for="CreateTestDTO.Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CreateTestDTO.KeyCode" class="control-label"></label>
				<input asp-for="CreateTestDTO.KeyCode" class="form-control" />
				<span asp-validation-for="CreateTestDTO.KeyCode" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CreateTestDTO.StartTime" class="control-label"></label>
				<input asp-for="CreateTestDTO.StartTime" class="form-control" />
				<span asp-validation-for="CreateTestDTO.StartTime" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CreateTestDTO.EndTime" class="control-label"></label>
				<input asp-for="CreateTestDTO.EndTime" class="form-control" />
				<span asp-validation-for="CreateTestDTO.EndTime" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CreateTestDTO.GradeReleaseDate" class="control-label"></label>
				<input asp-for="CreateTestDTO.GradeReleaseDate" class="form-control" />
				<span asp-validation-for="CreateTestDTO.GradeReleaseDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CreateTestDTO.GradeFinalizationDate" class="control-label"></label>
				<input asp-for="CreateTestDTO.GradeFinalizationDate" class="form-control" />
				<span asp-validation-for="CreateTestDTO.GradeFinalizationDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CreateTestDTO.Duration" class="control-label"></label>
				<input asp-for="CreateTestDTO.Duration" class="form-control" />
				<span asp-validation-for="CreateTestDTO.Duration" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CreateTestDTO.Batch" class="control-label"></label>
				<input asp-for="CreateTestDTO.Batch" class="form-control" />
				<span asp-validation-for="CreateTestDTO.Batch" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CreateTestDTO.TestCategoryId" class="control-label"></label>
				<select asp-for="CreateTestDTO.TestCategoryId" class="form-control" asp-items="ViewBag.TestCategory"></select>
			</div>
			<div class="form-group">
				<input type="submit" id="btnSubmit" value="Create" class="btn btn-primary" hidden />
				<input type="button" onclick="handleSubmit()" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
	<div class="col-md-6">
		<div class="form-group" style="height:800px;overflow:auto;">
			<label for="exampleCheck1">Select multiple questions:</label>
		    @foreach (var item in Model.QuestionList)
			{
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="@item.Id">
					<label class="form-check-label" for="option1">
						@Html.DisplayFor(modelItem => item.Content)
					</label>
				</div>
			}
		</div>
	</div>
</div>
<div>
	<a asp-page="Index">Back to List</a>
</div>
@section Scripts {
	<script type="text/javascript">
		function handleSubmit() {
			var selectedCheckboxes = $('input[type="checkbox"]:checked');
			var selectedIds = [];
			selectedCheckboxes.each(function() {
				selectedIds.push($(this).val());
			});
			$.ajax({
				url: '?handler=AddQuestions',
				type: 'POST',
				contentType: 'application/json',
				dataType: 'json',
				beforeSend: function (xhr) {
					xhr.setRequestHeader("XSRF-TOKEN",
						$('input:hidden[name="__RequestVerificationToken"]').val());
				},
				data: JSON.stringify({
					questionIds: selectedIds
				}),
				success: (data) => {
					$("#btnSubmit").click();
				},
				error: (error) => {
					alert("Error: " + error);
				}
			})
		}	
	</script>
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
