@page
@model WebApp.Pages.Questions.EditModel
@{
    ViewData["Title"] = "Edit";
}
<h1>Edit</h1>
<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Question.Id" />
            <div class="form-group">
                <label asp-for="UpdateQuestionDTO.Content" class="control-label"></label>
                <input asp-for="UpdateQuestionDTO.Content" value="@Model.Question.Content" class="form-control" />
                <span asp-validation-for="UpdateQuestionDTO.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateQuestionDTO.Weight" class="control-label"></label>
                <input asp-for="UpdateQuestionDTO.Weight" value="@Model.Question.Weight" class="form-control" />
                <span asp-validation-for="UpdateQuestionDTO.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.QuestionCategory" class="control-label"></label>
                <select class="form-control" value="@Model.Question.QuestionCategoryId" asp-items="ViewBag.QuestionCategory" disabled></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}