@page
@model WebApp.Pages.Login.LoginModel
@{
}

<h1>LOGIN</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="POST">
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" value="@ViewData["Email"]" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div>
                <span class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </span>
                <span>
                    <button class="btn btn-primary"><a asp-page="../Register/Register" class="text-light" style="text-decoration:none">Register</a></button>
                </span>
            </div>
            
        </form>

        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <p class="alert alert-danger" role="alert">@ViewData["Message"]</p>
        }
    </div>
</div>
